* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
  color: #fff;
  font-size: 20px;
}

html {
  background-color: gray;
  width: 100%;
  height: 100vh;
}
html .scroll_off::-webkit-scrollbar-thumb {
  height: 30%;
  background: gray;
  border-radius: 3px;
}
html .scroll_off::-webkit-scrollbar-track {
  background: gray;
}
html .scroll_off_bl::-webkit-scrollbar-thumb {
  height: 30%;
  background: #000;
  border-radius: 3px;
}
html .scroll_off_bl::-webkit-scrollbar-track {
  background: #000;
}
html body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
html body::-webkit-scrollbar {
  width: 17px;
}
html body::-webkit-scrollbar-thumb {
  height: 30%;
  background: #000;
}
html body::-webkit-scrollbar-track {
  background: #fff;
}
html body .wrap {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  text-wrap: nowrap;
}

ul, li, ol {
  list-style: none;
}

@keyframes slideUp {
  0% {
    top: calc(100% - 15rem);
  }
  100% {
    top: 2rem;
  }
}
@keyframes slideDown {
  0% {
    top: 2rem;
  }
  100% {
    top: calc(100% - 15rem);
  }
}
header {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  z-index: 999;
}
header .logo_box {
  margin-bottom: 2rem;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  bottom: 5rem;
}
header .logo_box h1 {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1;
}
header .logo_box:hover h1 {
  color: gray;
  -webkit-text-stroke: 0.1px #fff;
  transition: all 0.4s;
}
header .info_box {
  display: flex;
  align-items: center;
}
@keyframes textHover {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
header .info_box a:hover {
  animation: textHover 0.7s ease-in-out;
}
header .info_box .text_box {
  margin-right: 2rem;
  width: auto;
  text-wrap: nowrap;
}
header .info_box .info_link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .info_box .info_link .left_info {
  display: flex;
}
header .info_box .info_link .left_info div {
  display: flex;
  flex-direction: column;
}
header .info_box .info_link .left_info div:first-child {
  margin-right: 2rem;
}
header .info_box .info_link .left_info div a:first-child {
  margin-bottom: 0.5rem;
}
header .info_box .info_link .right_info {
  align-self: flex-end;
}
header .info_box .info_link .right_info div {
  display: flex;
  flex-direction: column;
}
header .info_box .info_link .right_info div a:first-child {
  margin-bottom: 0.5rem;
}

.main {
  padding: 2rem;
}
.main .main_link {
  perspective: 85rem;
}
.main .main_link li {
  line-height: 0.9;
  text-align: right;
  transform: rotate3d(0, 1, 0, -40deg) translateZ(0) scale(1);
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.7s;
}
.main .main_link li:hover {
  transform: rotate3d(0, 1, 0, -30deg) translateZ(0) scale(1);
}
.main .main_link li:hover a {
  -webkit-text-stroke: 5px #000;
  color: gray;
}
.main .main_link li:hover span {
  -webkit-text-stroke: 0px #000;
  color: #000;
}
.main .main_link li div a {
  font-size: 11rem;
  text-transform: uppercase;
  color: #000;
  position: relative;
}
.main .main_link li div span {
  color: #000;
}
.main .main_link li div span::before {
  content: attr(data-info);
  position: absolute;
  top: 0;
  left: -13rem;
  font-size: 1.4rem;
}
.main .main_link li div span::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 10.5rem;
  background-color: #000;
  transform: rotate(25deg);
}

.main_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}
.main_box .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.main_box .pre_btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  cursor: pointer;
}
.main_box .pre_btn span {
  color: #fff;
  display: inline-block;
  transform: rotate(-180deg);
  font-size: 4.5rem;
}
.main_box .pre_btn span:hover {
  color: #000;
  -webkit-text-stroke: 2px #fff;
  transition: all 0.3s;
}
.main_box .port_wrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: calc(100% - 17px);
  height: 20%;
  background-color: #fff;
}

.info_link_popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  top: 0;
  left: 0;
  padding: 2rem;
}
.info_link_popup .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: gray;
  opacity: 0.9;
}
.info_link_popup .info_link_popup_wrap .exit_btn {
  float: right;
}
.info_link_popup .info_link_popup_wrap .exit_btn span {
  cursor: pointer;
  font-size: 3.8rem;
  position: relative;
  transition: all 0.3s;
  line-height: 1;
}
.info_link_popup .info_link_popup_wrap .exit_btn div.circleBehind span:after {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 3.8rem;
  height: 3.8rem;
  border: 2px solid #fff;
  transform: translate(-51%, -50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.info_link_popup .info_link_popup_wrap .exit_btn div.circleBehind span:after {
  border-width: 2px;
  transition: all 0.4s;
}
.info_link_popup .info_link_popup_wrap .exit_btn div.circleBehind span:hover:after {
  opacity: 1;
  transform: translate(-51%, -50%) scale(1.3);
}
.info_link_popup .info_link_popup_wrap .skill_content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  min-width: 1500px;
}
.info_link_popup .info_link_popup_wrap .skill_content h2 {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 4px solid #fff;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap {
  background-color: #fff;
  width: 95%;
  height: 80%;
  border-radius: 50px;
  margin: 1.2rem auto 0;
  padding: 3rem 2rem;
}
@keyframes per_95 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes per_90 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes per_85 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes per_80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes per_75 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes per_70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li {
  width: 12%;
  margin: 1rem 0.5rem;
  cursor: pointer;
  text-align: center;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li span {
  opacity: 0.3;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li img {
  width: 70%;
  transition: all 0.5s;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .bar {
  display: inline-block;
  width: 100%;
  height: 7px;
  position: relative;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .bar::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  position: absolute;
  top: 0;
  left: 0;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .bar::after {
  content: "";
  display: inline-block;
  width: 95%;
  height: 100%;
  background-color: #f9e000;
  position: absolute;
  top: 0;
  left: 0;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .js_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .git_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .figma_bar::after {
  width: 85%;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .jq_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .json_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .ajax_bar::after {
  width: 90%;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .vue_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .sql_bar::after {
  width: 75%;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .react_bar::after {
  width: 70%;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .ph_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .il_bar::after {
  width: 80%;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li .per {
  display: inline-block;
  width: 100%;
  color: #000;
  font-size: 1.2rem;
  text-align: center;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover span {
  opacity: 1;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover img {
  transform: translateY(-10px) scale(1.1);
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .bar::after {
  animation: per_95 2s forwards;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .jq_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .json_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .ajax_bar::after {
  animation: per_90 2s forwards;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .js_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .git_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .figma_bar::after {
  animation: per_85 2s forwards;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .ph_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .il_bar::after {
  animation: per_80 2s forwards;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .vue_bar::after, .info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .sql_bar::after {
  animation: per_75 2s forwards;
}
.info_link_popup .info_link_popup_wrap .skill_content .skill_wrap ul li:hover .react_bar::after {
  animation: per_70 2s forwards;
}