* {
  margin: 0;
  padding: 0;
}

li, ul, ol {
  list-style: none;
}

body {
  background-color: #4801ff;
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}
header .header_wrap {
  width: 95%;
  margin: 30px auto;
}
header .header_wrap .logo {
  width: 15%;
}
header .header_wrap .logo .logo_text {
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
}
header .header_wrap .logo .logo_text span:last-child {
  margin-top: -15px;
}
header .header_wrap .logo .logo_text:hover {
  color: #4801ff;
  -webkit-text-stroke: 1.5px #fff;
  transition: all 0.2s;
}
header .header_wrap nav {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
header .header_wrap nav ul.info {
  display: flex;
  align-items: center;
}
header .header_wrap nav ul.info li {
  margin-right: 80px;
}
header .header_wrap nav ul.info li:first-child {
  cursor: default;
}
header .header_wrap nav ul.info li:not(:first-child) {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
header .header_wrap nav ul.info li:not(:first-child) span:hover a {
  color: #000;
}
header .header_wrap nav ul.sns a {
  font-weight: bold;
}
header .header_wrap nav ul li {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.8;
}

.main {
  width: 100%;
}
.main .main_link {
  margin-top: 80px;
  margin-right: 100px;
  perspective: 2500px;
}
.main .main_link .title_wrap {
  text-align: right;
  transform: rotate3d(0, 1, 0, -40deg) translateZ(0) scale(1);
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.7s;
}
.main .main_link .title_wrap:not(:first-child) {
  margin-top: -100px;
}
.main .main_link .title_wrap:hover {
  transform: rotate3d(0, 1, 0, -30deg) translateZ(0) scale(1);
}
.main .main_link .title_wrap:hover .title a {
  -webkit-text-stroke: 3px #000;
  color: #4801ff;
}
.main .main_link .title_wrap:hover .title span {
  -webkit-text-stroke: 0px #000;
  color: #000;
}
.main .main_link .title_wrap .title a {
  color: #000;
  font-size: 17rem;
  text-transform: uppercase;
  font-family: "Black Han Sans", sans-serif;
  position: relative;
}
.main .main_link .title_wrap .title a p {
  margin-top: -100px;
}
.main .main_link .title_wrap .title a span::before {
  content: attr(data-info);
  position: absolute;
  top: 0;
  left: -13rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}
.main .main_link .title_wrap .title a span.info_text::before {
  left: -11rem;
}
.main .main_link .title_wrap .title a span.info_text2::before {
  left: -7rem;
}
.main .main_link .title_wrap .title a span.info_text3::before {
  left: -11.5rem;
}
.main .main_link .title_wrap .title a span.info_text4::before {
  left: -12.5rem;
}
.main .main_link .title_wrap .title a span::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 13.5rem;
  background-color: #000;
  transform: rotate(25deg);
}