@import url(//db.onlinewebfonts.com/c/2f8845bdde42e943355a39765c5be5c0?family=Druk+Wide+Web+Super);
@import url(//db.onlinewebfonts.com/c/29800a9e7d146302b8ed9ad2f848db63?family=Druk+Wide+Web+Bold);
@font-face {
  font-family: "Druk Wide Web Bold";
  src: url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.eot");
  src: url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.woff") format("woff"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.svg#Druk Wide Web Bold") format("svg");
}
@font-face {
  font-family: "Druk Wide Web Super";
  src: url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot");
  src: url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.svg#Druk Wide Web Super") format("svg");
}
* {
  margin: 0;
  padding: 0;
}

li, ul, ol {
  list-style: none;
}

body {
  background-color: #4801ff;
  font-family: "Druk Wide Web Bold";
  font-size: 20px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
header .header_wrap {
  width: 95%;
  margin: 30px auto;
}
header .header_wrap .logo {
  width: 100%;
}
header .header_wrap .logo .logo_text {
  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
}
header .header_wrap .logo .logo_text span:last-child {
  margin-top: -5px;
}
header .header_wrap .logo .logo_text:hover {
  color: #4801ff;
  -webkit-text-stroke: 1.5px #fff;
  transition: all 0.2s;
}
header .header_wrap nav {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
header .header_wrap nav ul.info {
  display: flex;
  align-items: center;
}
header .header_wrap nav ul.info li {
  margin-right: 80px;
}
header .header_wrap nav ul.info li:not(:first-child) {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
header .header_wrap nav ul li {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.8;
}

.main {
  width: 100%;
}
.main .main_link {
  margin-top: 80px;
  margin-right: 100px;
  perspective: 2500px;
}
.main .main_link .title_wrap {
  text-align: right;
  transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1);
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.7s;
}
.main .main_link .title_wrap:hover {
  transform: rotate3d(0, 1, 0, -35deg) translateZ(0) scale(1);
}
.main .main_link .title_wrap:hover .title a {
  -webkit-text-stroke: 3px #000;
  color: #4801ff;
}
.main .main_link .title_wrap .title a {
  color: #000;
  font-size: 12rem;
  text-transform: uppercase;
  font-family: "Druk Wide Web Super";
}