@media all and (max-width:600px){
    
    $mainFont : 'Black Han Sans',
        sans-serif;
    $smallFont : 'Noto Sans KR',
        sans-serif;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    li,
    ul,
    ol {
        list-style: none;
    }

    body {
        background-color: #4801ff;
        font-family: $mainFont;
        font-size: 20px;
        color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;



        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-thumb {
            height: 30%;
            background: #000;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #fff
        }
    }

    .scroll_off {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    @keyframes slideUp {
        0% {
            top: 70%;
        }

        100% {
            top: 5%;
        }
    }

    @keyframes slideDown {
        0% {
            top: 5%;
        }

        100% {
            top: 70%;
        }
    }

    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;

        .header_wrap {
            width: 95%;
            margin: 30px auto;

            .logo {
                width: 20%;

                a.logo_text {
                    font-size: 3.5rem;
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    top: 70%;
                    color: #fff;

                    span:last-child {
                        margin-top: -15px;
                    }

                    &:hover {
                        color: #4801ff;
                        -webkit-text-stroke: 1.5px #fff;
                        transition: all 0.4s;
                    }
                }
            }

            >p {
                display: block;
                font-family: $smallFont;
                font-size: 1.1rem;
                margin-left: 3px;
            }

            nav {
                width: 100%;
                margin-top: 50px;
                display: flex;
                justify-content:space-between;
                align-items: center;

                ul {

                    &.info {

                        li {
                            margin-right: 20px;

                            &:first-child {
                                cursor: default;
                                display: none;
                            }


                            &:not(:first-child) {
                                display: flex;
                                flex-direction: column;
                                font-weight: bold;

                                span:hover {
                                    animation: shake 1.2s infinite;
                                }
                            }

                        }
                    }

                    &.sns {

                        align-self: flex-end;

                        a {
                            font-weight: bold;
                        }
                    }

                    li {
                        font-size: 14px;
                        font-family: $smallFont;
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    .main {
        width: 100%;

        .main_link {
            margin-top: 10px;
            margin-right: 10px;
            perspective: 2500px;

            .title_wrap {
                text-align: right;
                transform: rotate3d(0, 1, 0, -55deg) translateZ(0) scale(1);
                transform-origin: right center;
                transform-style: preserve-3d;
                will-change: transform;
                transition: all 0.7s;

                &:not(:first-child) {
                    margin-top: -100px;
                }

                &:hover {
                    transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1);
                }

                &:hover .title a {
                    -webkit-text-stroke: 3px #000;
                    color: #4801ff;
                }

                &:hover .title span {
                    -webkit-text-stroke: 0px #000;
                    color: #000;
                }

                .title {

                    a {
                        color: #000;
                        font-size: 6rem;
                        text-transform: uppercase;
                        font-family: $mainFont;
                        position: relative;
                        line-height: 2;
                        white-space:nowrap;

                        p {
                            margin-top: -100px;
                        }

                        span {

                            &::before {
                                content: attr(data-info);
                                position: absolute;
                                top: 0;
                                left: -8.5rem;
                                font-size: 0.9rem;
                                font-weight: bold;
                                font-family: $smallFont;
                            }

                            &.info_text::before {
                                left: -7rem;
                            }

                            &.info_text2::before {
                                left: -5rem;
                            }

                            &.info_text3::before {
                                left: -7rem;
                            }

                            &.info_text4::before {
                                left: -8rem;
                            }

                            &::after {
                                content: "";
                                display: inline-block;
                                width: 2px;
                                height: 5rem;
                                background-color: #000;
                                transform: rotate(25deg);
                            }
                        }
                    }
                }
            }
        }
    }


    .content {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;

        .content_wrap {
            width: 100%;
            height: 100%;
            background-color: #000;

            .pre_btn {
                position: absolute;
                top: 2.9%;
                right: 3%;

                span {
                    display: inline-block;
                    cursor: pointer;
                    font-size: 3.5rem;
                    font-weight: bold;
                    position: relative;
                    z-index: 9999;
                    color: #fff;
                    transform: rotate(180deg);

                    &:hover {
                        color: #000;
                        -webkit-text-stroke: 0.5px #fff;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }

    .slide_wrap {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;

        .slide_box {
            position: fixed;
            top: 55%;
            transform: translateY(-50%);
            width: 100%;
            height: 50vh;
            display: none;

            &:hover img {
                opacity: 0.8;
            }

            &:hover .btn_group {
                opacity: 1;
            }

            &.slide_mini6 {

                span {
                    top: -15%;

                    &:last-child {
                        top: -5%;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: all 0.5s;
            }

            .btn_group {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                opacity: 0;
                transition: all 0.5s;

                a {
                    display: inline-block;
                    border: 3px solid #fff;
                    color: #fff;
                    padding: 12px 20px 10px;
                    margin: 5px;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    vertical-align: bottom;
                    cursor: pointer;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                        border-color: #000;
                        transition: all 0.3s;
                    }
                }
            }

            span {
                text-transform: uppercase;
                position: absolute;
                top: -10%;
                right: 8%;
                font-size: 4.5rem;
                color: rgba(255, 255, 255, 0);
                -webkit-text-stroke: 2px #fff;
            }
        }
    }

    .profile {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;

        .profile_bg {
            width: 100%;
            height: 100%;
            background-color: #4801ff;
            opacity: 0.9;
        }

        .profile_wrap {
            width: 100%;
            height: 100%;
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;

            .exit_btn {
                position: absolute;
                top: 5.4%;
                right: 3%;

                span {
                    cursor: pointer;
                    font-size: 3rem;
                    position: relative;
                    transition: all 0.3s;
                }

                div.circleBehind span:after {
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    border: 1px solid #fff;
                    transform: translateX(-50%) translateY(-50%) scale(0.8);
                    border-radius: 50%;
                    background: transparent;
                    content: "";
                    opacity: 0;
                    transition: all 0.3s;
                    z-index: -1;
                }

                div.circleBehind span:after {
                    border-width: 1px;
                    transition: all 0.4s;
                }

                div.circleBehind span:hover:after {
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1.3);
                }
            }

            .profile_content {
                width: 100%;
                height: 100%;
                padding: 10%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .profile_imgbox {
                    margin-top: 100px;
                    text-align: center;

                    img {
                        width: 60%;
                    }
                }

                .profile_text {

                    ul {
                        font-size: 1.7rem;

                        &:not(:last-child) {
                            margin-bottom: 30px;
                        }

                        &:last-child {
                            li {
                                &:last-child {
                                    &:hover {
                                        color: #f9e000;
                                    }
                                }
                            }
                        }

                        li {

                            &:first-child {
                                font-size: 2rem;
                                margin-bottom: 5px;
                                border-bottom: 3px solid #fff;
                            }
                        }

                    }
                }
            }
        }
    }

    @keyframes shake {
        0% {
            transform: translate(1px, -2px) rotate(-1deg);
        }

        10% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        20% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        100% {
            transform: translate(1px, 1px) rotate(0deg);
        }
    }

    .skill {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;

        .skill_bg {
            width: 100%;
            height: 100%;
            background-color: #4801ff;
            opacity: 0.9;
        }

        .skill_wrap {
            width: 100%;
            height: 100%;
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;

            .exit_btn {
                position: absolute;
                top: 5.4%;
                right: 3%;

                span {
                    cursor: pointer;
                    font-size: 3rem;
                    position: relative;
                    transition: all 0.3s;
                }

                div.circleBehind span:after {
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    border: 1px solid #fff;
                    transform: translateX(-50%) translateY(-50%) scale(0.8);
                    border-radius: 50%;
                    background: transparent;
                    content: "";
                    opacity: 0;
                    transition: all 0.3s;
                    z-index: -1;
                }

                div.circleBehind span:after {
                    border-width: 1px;
                    transition: all 0.4s;
                }

                div.circleBehind span:hover:after {
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1.3);
                }
            }

            .skill_content {
                width: 100%;
                height: 100%;
                padding: 3%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    font-size: 2.5rem;
                    text-align: center;
                    border-bottom: 3px solid #fff;
                }

                >div {
                    margin-top: 20px;
                    padding: 10px;
                    background-color: #fff;
                    border-radius: 50px;

                    ul {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        margin: 20px auto;

                        li {
                            cursor: pointer;

                            &:hover {
                                animation: shake 0.9s infinite;
                            }

                            img {
                                width: 45px;
                            }
                        }
                    }
                }
            }
        }
    }

}
